$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
	padding-top: 70px;
}

.container-fluid {
  margin-left: 80px;
}

header .container {
	padding-left: 0;
	padding-right: 0;
}

header .navbar .navbar-nav {
  display: inline-block;
  float: none;
}

header .navbar .navbar-collapse {
  text-align: center;
}

tfoot {
	border-top: 2px solid #DDD;
	color: #999;
}

.popover {
    max-width: 600px;
    width: auto;
}

#new-item-form .form-control {
    width: 100%;
}

#new-item-form > div {
    padding-left: 0;
    padding-right: 0;
}

#new-item-form .btn {
    position: static;
}

table.table tr td div.item-actions { display:none;}
table.table tr:hover td div.item-actions { display:inline-block;}

// header {
// 	width: 100%;
// 	background: #333;
// 	padding: 10px 0;
// }

// header .center-block {
// 	text-align: center;
// }

// header .center-block>span {
// 	padding: 4px 10px;
// }