<header>
    <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#header-navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <!-- <a class="navbar-brand" href="#">Frozen</a> -->
        </div>


        <div class="collapse navbar-collapse" id="header-navbar-collapse">
          <ul class="nav navbar-nav">
            <button type="button" disabled="" class="btn navbar-btn btn-sm btn-success" green=""></button>
            <a class="btn navbar-btn btn-sm btn-warning" yellow=""></a>
            <div class="hidden row" id="yellow-popover-content">
              <table class="table table-condensed">
                <thead>
                  <th>Item</th>
                  <th>MM</th>
                  <th>Expires On</th>
                </thead>
                <tr ng-repeat="item in yellow">
                    <td class="col-md-6">{{item.description}}</td>
                    <td class="col-md-2">{{item.measurement}}</td>
                    <td class="col-md-4">{{item.expiration | amDateFormat: 'MM/DD/YYYY'}}</td>
                </tr>
              </table>
            </div>
            <button type="button" class="btn navbar-btn btn-sm btn-danger" red=""></button>
          </ul>
        </div>
      </div>
    </nav>
  </header>

<div class="container">
  <div class="row">
    
  </div>

  <div class="row">
    <table class="table table-condensed">
      <thead>
        <th>Item</th>
        <th>Measurement</th>
        <th>Qty.</th>
        <th>Expires</th>
        <th>Added</th>
        <th></th>
      </thead>
      <tr>
        <form class="form-inline" id="new-item-form">
          <td class="form-group col-md-4">
              <label class="sr-only" for="descriptionInput">Description</label>
              <input type="text" class="form-control" id="descriptionInput" placeholder="Item Description">
          </td>
          <td class="form-group col-md-2">
              <label class="sr-only" for="measurementInput">Measurement</label>
              <input type="date" class="form-control" id="measurementInput" placeholder="Measurement">
          </td>
          <td class="form-group col-md-2">
              <label class="sr-only" for="quantityInput">Quantity</label>
              <input type="number" class="form-control" id="quantityInput" placeholder="Quantity">
          </td>
          <td class="form-group col-md-2">
              <label class="sr-only" for="expiresInput">Expires</label>
              <input type="date" class="form-control" id="expiresInput" placeholder="Expires">
          </td>
          <td class="form-group col-md-1">
              <label class="sr-only" for="addedInput">Added</label>
              <input type="date" class="form-control" id="addedInput" placeholder="Added">
          </td>
          <td class="form-group col-md-1">
            <button type="submit" class="btn btn-default glyphicon glyphicon-plus"></button>
          </td>
        </form>
      </tr>
      <tr ng-repeat="item in allItems" ng-class="{'bg-danger': item.isRed()}">
          <td class="col-md-4">{{item.description}}</td>
          <td class="col-md-2">{{item.measurement}}</td>
          <td class="col-md-2">{{item.quantity}}</td>
          <td class="col-md-2">{{item.oldestExpirationDate | amDateFormat: 'MM/DD/YYYY'}}</td>
          <td class="col-md-2">{{item.oldestAddedDate | amDateFormat: 'MM/DD/YYYY'}}</td>
      </tr>
      <tfoot>
<!--         <tr ng-repeat="item in history">
          <td class="col-md-4">{{item.description}}</td>
          <td class="col-md-2">{{item.measurement}}</td>
          <td class="col-md-2">{{item.quantity}}</td>
          <td class="col-md-2">{{item.oldestExpirationDate | amDateFormat: 'MM/DD/YYYY'}}</td>
          <td class="col-md-2">{{item.oldestAddedDate | amDateFormat: 'MM/DD/YYYY'}}</td>
        </tr> -->
      </tfoot>
    </table>
  </div>
</div>